<div id="<%= dom_id duongong %>">
  <p>
    <strong>Ten ong:</strong>
    <%= duongong.ten_ong %>
  </p>

  <p>
    <strong>Loai ong:</strong>
    <%= duongong.loai_ong %>
  </p>

  <p>
    <strong>Mau sac:</strong>
    <%= duongong.mau_sac %>
  </p>

  <p>
    <strong>Don vi ql:</strong>
    <%= duongong.don_vi_ql %>
  </p>

  <p>
    <strong>Be dau:</strong>
    <%= duongong.be_dau_id %>
  </p>

  <p>
    <strong>Be cuoi:</strong>
    <%= duongong.be_cuoi_id %>
  </p>

</div>
