<div id="<%= dom_id tuyencap %>">
  <p>
    <strong>Ten tuyen:</strong>
    <%= tuyencap.ten_tuyen %>
  </p>

  <p>
    <strong>Phanloai:</strong>
    <%= tuyencap.phanloai %>
  </p>

  <p>
    <strong>Dvquanly:</strong>
    <%= tuyencap.dvquanly %>
  </p>

  <p>
    <strong>Diembatdau:</strong>
    <%= tuyencap.diembatdau %>
  </p>

  <p>
    <strong>Diemketthuc:</strong>
    <%= tuyencap.diemketthuc %>
  </p>

</div>
