<div id="<%= dom_id be %>">
  <p>
    <strong>Address:</strong>
    <%= be.address %>
  </p>

  <p>
    <strong>Tenbe:</strong>
    <%= be.tenbe %>
  </p>

  <p>
    <strong>Loaibe:</strong>
    <%= be.loaibe %>
  </p>

  <p>
    <strong>Coquan:</strong>
    <%= be.coquan %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= be.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= be.longitude %>
  </p>

</div>
