<div class="container">
  <%= form_with(model: be, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :address, 'Địa chỉ', class: 'font-weight-bold' %>
      <%= form.text_field :address, class: 'form-control', placeholder: 'Nhập địa chỉ' %>
      <% if be.errors[:address].any? %>
        <div class="text-danger"><%= be.errors[:address].join(", ") %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :loaibe, 'Loại bể', class: 'font-weight-bold' %>
      <%= form.select :loaibe, options_for_select(['Hố ga', 'Bể cáp 1 đan', 'Bể cáp 2 đan']), { include_blank: 'Chọn loại bể' }, { class: 'form-control' } %>
      <% if be.errors[:loaibe].any? %>
        <div class="text-danger"><%= be.errors[:loaibe].join(", ") %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :coquan, 'Đơn vị quản lý', class: 'font-weight-bold' %>
      <%= form.text_field :coquan, class: 'form-control', placeholder: 'Nhập cơ quan' %>
      <% if be.errors[:coquan].any? %>
        <div class="text-danger"><%= be.errors[:coquan].join(", ") %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :latitude, 'Latitude', class: 'font-weight-bold' %>
      <%= form.text_field :latitude, class: 'form-control', placeholder: 'Nhập vĩ độ' %>
      <% if be.errors[:latitude].any? %>
        <div class="text-danger"><%= be.errors[:latitude].join(", ") %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :longitude, 'Longitude', class: 'font-weight-bold' %>
      <%= form.text_field :longitude, class: 'form-control', placeholder: 'Nhập kinh độ' %>
      <% if be.errors[:longitude].any? %>
        <div class="text-danger"><%= be.errors[:longitude].join(", ") %></div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
